@using EnglishWordsExam.Enums
<div class="container-fluid">

    @if (!inProgress)
    {
        <ExamStart SelectedExamParameters="StartExamWithSelectedParameters" />
    }
    else
    {
        <div class="row">
            <div class="col p-5">
                @if (examResult.Length > 0)
                {
                    <div id="exam-result-message">
                        <span class="text-info fw-bold">@(examResult)</span>
                    </div>
                    @if (examResult.Equals(CompletedExamMessage))
                    {
                        <button class="btn btn-primary mt-2"
                                @onclick="() => { inProgress = false; examResult = string.Empty; }">
                            Start new Exam
                        </button>
                    }
                }

                @if (!examResult.Equals(CompletedExamMessage))
                {
                    @if (examTitle.Length > 0)
                    {
                        <div id="exam-title-message">
                            <span class="text-info fw-bold">@(examTitle)</span>
                        </div>
                    }
                    <section>
                        <div class="my-3">
                            <label for="questionArea" class="form-label">Question @(questionNumber) of @(wordsToTranslate):</label>
                            <textarea type="text" @bind="Question" @bind:event="onset" class="form-control" id="questionArea" rows="@(questionTextAreaRows)" />
                        </div>

                        <div class="mb-3">
                            <label for="answerArea" class="form-label">Answer:</label>
                            <input type="text" @bind="Answer" @bind:event="onchange" class="form-control" id="answerArea" />
                            @if (isRight.HasValue)
                            {
                                <div class="mt-2 p-2">
                                    @if (isRight.Value)
                                    {
                                        <span class="text-bg-success">That's right!</span>
                                    }
                                    else
                                    {
                                        <span class="text-bg-danger">You are wrong!</span>
                                    }
                                </div>
                            }
                        </div>

                        <div class="mt-2">
                            <Hints HintsTokens="@hints" HintsNeeded="HintsNeededHandler" />
                        </div>

                    </section>
                }
            </div>

            <div class="col p-5">
                @if (this.showAllTranslations)
                {
                    <div class="d-flex flex-column">
                        <TranslationResult Word="@WordForTranslation"
                                           Answer="@answerMemo"
                                           Translations="@AllTranslations"
                                           TranslationType="@translationType" />
                    </div>
                }
            </div>
        </div>
    }
</div>