@using EnglishWordsExam.Enums
<div class="container-fluid">

    @if (!isStarted)
    {
        <div class="d-flex flex-column w-75 mx-auto my-5">
            <span class="text-info text-capitalize">@totalWordsCount words in the file.</span>

            <div class="d-flex flex-column me-5 mt-2">
                <div class="my-1">
                    <span>Choose words count to translate: (@wordsToTranslate)</span>
                </div>
                <input @bind-value="wordsToTranslate" type="range" class="form-range" min="1" max="@totalWordsCount" step="1" id="wordsToTranslate">
            </div>
            @if (wordsToTranslate > 0)
            {
                <div class="d-flex justify-content-start gap-5 w-50 mt-2">
                    <button class="btn btn-primary" @onclick="SelectEnglishToBulgarian">
                        EN-BG
                    </button>
                    <button class="btn btn-primary" @onclick="SelectBulgarianToEnglish">
                        BG-EN
                    </button>
                </div>
            }
        </div>
    }
    else
    {
        <div class="row">
            <div class="col p-5">
                @if (examMessage != null)
                {
                    <div id="exam-message">
                        <span class="fs-3 text-info fw-bold">@(examMessage)</span>
                    </div>
                }
                <section>
                    <div class="mb-3">
                        <label for="questionArea" class="form-label">Question @(questionNumber) of @(wordsToTranslate):</label>
                        <textarea type="text" @bind="Question" @bind:event="onset" class="form-control" id="questionArea" rows="@(questionTextAreaRows)" />
                    </div>
                    @if (!string.IsNullOrEmpty(hints))
                    {
                        <div class="mb-3">
                            <label for="hintsArea" class="form-label">Hints:</label>
                            <textarea type="text" @bind="hints" @bind:event="onset" class="form-control" id="hintsArea" rows="@(hintsTextAreaRows)" />
                        </div>
                    }
                    <div class="mb-3">
                        <label for="answerArea" class="form-label">Answer:</label>
                        <input type="text" @bind="Answer" @bind:event="onchange" class="form-control" id="answerArea" />
                        @if (hints == null && !isRight.HasValue)
                        {
                            <div class="mt-2">
                                <span class="text-info" @onclick="OnHintRequired">Need a hint?</span>
                            </div>
                        }
                        @if (isRight.HasValue)
                        {
                            <div class="mt-2 p-2">
                                @if (isRight.Value)
                                {
                                    <span class="text-bg-success">That's right!</span>
                                }
                                else
                                {
                                    <span class="text-bg-danger">You are wrong!</span>
                                }
                            </div>
                        }
                    </div>
                </section>
            </div>
            <div class="col p-5">
                @if (this.showAllTranslations && this.AllTranslations != null)
                {
                    <div class="d-flex flex-column">
                        @if (this.translationType == TranslationType.BulgarianToEnglish)
                        {
                            <span>
                                The right translation of <span class="text-info">@(WordForTranslation)</span>: @(AllTranslations[0])!
                            </span>
                        }
                        else
                        {
                            <span class="fs-4">
                                <span class="text-info">@WordForTranslation</span> all translations:
                            </span>
                            @for (int i = 0; i < AllTranslations.Length; i++)
                            {
                                <div class="mt-2 ms-2">
                                    <span class="@(AllTranslations[i].Equals(answer) ? "text-bg-success" : "")">
                                        @(i + 1). @AllTranslations[i]
                                    </span>
                                </div>
                            }
                        }
                    </div>
                }
            </div>
        </div>
    }
</div>